<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/asignment3/src/edu/grinnell/csc207/greenber/utils/namegameTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.grinnell.csc207.greenber.utils.namegameTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="asignment3"/>
</launchConfiguration>
